# Java Artifacts #
*.class
*.classpath
target
bin


# Package Files #
*.jar
*.war
*.ear


# Files to be included #
!/**/src/**/resources/contextVersions.jar
!/program-runtime-pipeline-it/src/main/resources/rules/*

# Eclipse Artifacts #
*.project
*.settings

# Intellij Artifacts #
*.iml
## Directory-based project format:
.idea/
## File-based project format:
*.ipr
*.iws

# Clover Artifacts #
.clover

# Mac Generated Artifacts #
*.DS_Store

# maven artifacts #
*.versionsBackup

# artifact produced due to release activity #
release.properties
pom.xml.releaseBackup
